{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue sur le blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fuga laudantium aut quaerat possimus eos, incidunt, ipsum iste odit, perspiciatis repellat reiciendis nobis voluptates velit totam? Blanditiis excepturi, earum modi qui ea quis ad ipsam inventore neque magnam dolores facere tempore quam odit iure provident doloribus voluptatum, iusto, molestiae minima.
Adipisci iure quae at delectus modi eligendi id sapiente fugit doloribus? Omnis et tempora veniam iure eligendi deleniti expedita dolorum praesentium voluptatum distinctio. Accusantium quidem, quis nostrum magnam facilis laborum, enim nihil nobis animi ducimus incidunt sunt aliquid accusamus quos illo cum laboriosam distinctio optio voluptatum, harum vitae iusto assumenda.
Velit magnam sint reiciendis perspiciatis et, aliquid molestiae amet harum sed ea earum nesciunt voluptate. Ea culpa magnam, perferendis voluptatum harum molestiae vel officiis, voluptatibus maxime, voluptate qui accusantium suscipit quod aliquam odio vero obcaecati! Illo dolorum tempore ipsam, inventore ea voluptatum totam deleniti animi iste nam nostrum! Quasi, assumenda.</p>

{% endblock %}